[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/chipsalliance/rocket-chip
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/KireinaHoro/opensbi
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/KireinaHoro/u-boot
[submodule "sha3"]
	path = sha3
	url = https://github.com/KireinaHoro/sha3
